<a href="/"><button data-toggle="tooltip" title="Back to DOM list" type="button" class="btn btn-primary btn-lg"><i class="fas fa-bars"></i></button></a>
<a href="/dom/{{dom_info['id']}}"><button data-toggle="tooltip" title="Back to DOM {{dom_info['line']}} {{dom_info['number']}}" type="button" class="btn btn-primary btn-lg"><i class="fas fa-arrow-left"></i></button></a>
<button data-toggle="tooltip" title="Apply changes" type="button" id="btn_save" class="btn btn-secondary btn-lg" onclick="save()" disabled><i class="fas fa-save"></i></button>
Line <b id="line">{{dom_info['line']}}</b> Number <b id="number">{{dom_info['number']}}</b>

