{% extends "layout.html" %}
{% block content %}
<h4>WTime</h4>
{% endblock %}

{% block info %}
<div class="controls">
    <a href="/"><button  data-toggle="tooltip" title="Back to home" type="button" id="btn_back" class="btn btn-primary btn-lg"><i class="fa-solid fa-house"></i></button></a>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  // Popover
  $(function () {
    $('[data-toggle="popover"]').popover()
  });
  // Tooltip
  $(function () {
    $('[data-toggle="modal"]').tooltip()
  });
  
  // Main
  $( document ).ready(function() {
    console.log( "ready!" );
    // Set active page in nav pane
    $('.nav-home').attr('aria-current','page');
    $('.nav-home').attr('class','nav-link nav-home active');
    $('.nav-home').attr('href','#');
  });
  </script>
{% endblock %}
